#logo_img {
    width: 50px;
    height: 50px;
}

#root {
    display: flex;
}

.logo {
    width: 20%;
}

.search {
    display: flex;
    width: 50%;
    align-items: center;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .searchIcon {
    width: 100%;
  }

  .icon {
    width: 30%;
    text-align: right;
  }

  .usericon {
    height: 50px;
  }